* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: whitesmoke;
}
/* SIDEBAR */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #0f7a4f;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    a{
        color: white;
        text-decoration: none;
    }
}

.link{
    a{
        color: white;
    }
}

.linha{
    border-style: solid;
    border-width: 0.5px 0px 0px 0px;
    border-color: rgba(110, 255, 110, 0.596);
    margin-top: 20px;
}

.logoSide {
    margin-bottom: 30px;
}

.logoSide img {
    width: 40px;
    margin-bottom: 10px;
}

.logoSide h2 {
    font-size: 18px;
}

.logoSide p {
    font-size: 12px;
    opacity: 0.8;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.menu .ativo {
    background: #fff;
    color: #0f7a4f;
}

/* GRAFICOS */
.graficos{
    display: flex;
    margin-left: 240px;
    justify-content: space-around;
}
.container{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    border-color: black;
    padding: 15px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px grey;
}
.roscas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.graf_rosca{
    width: 100px;
    height: 100px;
}
.graf_barras{
    width: 750px;
    height: 600px;
    margin: 20px;
}

.botao_graf{
    border-color: lightgray;
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    margin: 2px;
    padding: 5px;
}
.graf_linhas{
    width: 800px;
    height: 650px;
    margin: 20px;
}

/* CAIXAS PARA KPIs*/
.box_lixeiras{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: fit-content;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    background-blend-mode: screen;
    padding: 15px;
    margin: 5px;
    h3{
        font-size: xx-large;
    }
}

.icone_box{
    width: 20px;
    height: 20px;
}

.container_icone{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.kpi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* KPI TOTAL LIXEIRAS */
.icone_total{
    background-color: #0f7a4f;
}


.total{
    background-color: rgba(237, 253, 244);
    border-color: rgba(164, 244, 207);
    color: rgba(0, 79, 59);
}

/* KPI NIVEL BAIXO */
.vazia{
    background-color: rgba(238, 253, 244);
    border-color: rgba(185, 248, 207);
    color: rgba(13, 84, 43);
}
.icone_vazia{
    background-color: rgba(0, 166, 62);
}

/* KPI NIVEL MEDIO */
.medio{
    background-color: rgba(255, 252, 233);
    border-color: rgba(254, 230, 133);
    color: rgba(123, 51, 6);
}
.icone_medio{
    background-color: rgba(225, 113, 0);
}

/* KPI NIVEL ALTO */
.cheia{
    background-color: rgba(255, 242, 242);
    border-color: rgba(255, 201, 201);
    color: rgba(130, 24, 26);
}
.icone_cheia{
    background-color: rgba(231, 0, 11);
}
<<<<<<< HEAD
/* CAIXA DE SELECIONAR O DIA */
.caixa_dia{
    border-radius: 20px;
    border-color: #12A454;
    padding: 10px;
}

.calor{
    width: 750px;
    height: 600px;
    margin: 20px;
    background: url('../img/mapa_centro.png') no-repeat center center/cover;
    border-style: solid;
    border-width: 1px;
    border-color: #12A454;
    border-radius: 20px;
}
.rota{
    width: 750px;
    height: 375px;
    margin: 20px;
    background: url('../img/rota_ficticia.png') no-repeat center center/cover;
    border-style: solid;
    border-width: 1px;
    border-color: #12A454;
    border-radius: 20px;
}
.graf_linhas{
    width: 800px;
    height: 650px;
    margin: 20px;
}

=======
>>>>>>> 03b1e45801f8db3554f153e3e50467db9ee4bfbd
/* barra de preenchimento */
.progresso-container {
  width: 150px;           
  height: 12px;          
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;    
  display: flex;          
  align-items: center;   
  position: relative; /* ponto de referencia */
}
.progresso-barra-critico {
  height: 100%;           
  background-color: #ff5252; 
  border-radius: 10px; 
 
}
.progresso-barra-medio{
  height: 100%;           
  background-color: #eca445; 
  border-radius: 10px; 
<<<<<<< HEAD
=======
 
>>>>>>> 03b1e45801f8db3554f153e3e50467db9ee4bfbd
}
.progresso-texto {
  margin-left: 10px;      
  font-size: 12px;
  font-weight: bold;
}