@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* =================================================== GERAL =================================================== */
* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Montserrat';
    margin: 0;
    line-height: 1.25rem;
}

html {
    scroll-behavior: smooth;
}

html, body {
        overflow-x: hidden;
}

/* =================================================== HEADER =================================================== */
.header {
    background-image: linear-gradient(to bottom, #318752, #0aae43);
    box-shadow: 0.3125rem 0.3125rem 1.25rem -0.6875rem #00000075;
    padding: 1.8rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.875rem;
}

.titulo {
    color: white;
    font-size: 2.2rem;
    margin: 0;
    font-weight: 800;
}

/* =================================================== NAVBAR DESKTOP =================================================== */
.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar ul{
    color: white ;
}

.navbar li {
    margin-left: 2.2rem;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}

.navbar .agora a {
    font-weight: 800;
}

/* =================================================== SEÇÃO INICIAL =================================================== */
.inicio {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 5rem;
    text-align: center;
}

.inicio img {
    width: 5.625rem;
}

.inicio h1 {
    font-size: 2.5rem;
}

.inicio span {
    margin-top: 0.625rem;
    color: #808080;
    font-size: 1.25rem;
}

/* =================================================== SOBRE =================================================== */
#sobre-div {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    padding: 0 0.625rem;
}

.sobre {
    width: 90%;
    max-width: 75rem;
    background-color: #f1fff7;
    border: 0.125rem solid #0aae4334;
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1.25rem;
}

.sobre p {
    color: #323232;
    font-size: 1.1rem;
    width: 100%;
    text-align: justify;
    line-height: 1.8rem;
}

.sobre span {
    font-weight: bold;
}

.sobre .container {
    margin: 0 0 1.5rem 0;
    justify-content: flex-start;
    padding: 0;
}

.sobre .container img {
    width: 1.75rem;
}

.sobre .container h2 {
    padding-left: 0.625rem;
    font-size: 1.8rem;
    margin: 0;
}

/* =================================================== CARDS =================================================== */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    width: 30%;
    min-width: 18rem;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    background-color: white;
    border: 0.0625rem solid;
    border-left: 0.4rem solid;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card1 {
    border-color: #2a946a;
}

.card2 {
    border-color: #525ffd;
}

.card3 {
    border-color: #2ea24b;
}

.card4 {
    border-color: #39b4a7;
}

.card5 {
    border-color: #e17f19;
}

.card6 {
    border-color: #a31bfd;
}

.card1-cor,
.card2-cor,
.card3-cor,
.card4-cor,
.card5-cor,
.card6-cor {
    min-width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.card1-cor {
    background-color: #d9f9e8;
}

.card2-cor {
    background-color: #dfeaff;
}

.card3-cor {
    background-color: #e4ffeb;
}

.card4-cor {
    background-color: #d5fbf4;
}

.card5-cor {
    background-color: #fdf3cb;
}

.card6-cor {
    background-color: #f2e6fa;
}

.card img {
    width: 1.5rem;
}

.card-v h4 {
    margin: 0;
    font-size: 1.1rem;
}

.card-v span {
    color: #555;
    font-size: 0.85rem;
    margin-top: 0.4rem;
}

/* =================================================== CALCULADORA =================================================== */
#calculadora {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculadora-span{
    color: #808080;
    font-size: 17px;
    margin-bottom: 1%;
}

.div_informacao {
    display: flex;
    width: 90%;
    background-color: #ffffe2;
    border: 1px solid #ffb4b4;
    border-radius: 12px;
    padding-top: 0.5%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 2rem;
}

.informacao-button {
    background-color: #fffb0000;
    border: none;
    color: #cc0000;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0.75rem;
}

#informacao_span {
    color: #4f0000;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 0.5%;
    }
}

.div_informacao-imagem {
    margin-bottom: 6px;
    margin-right: -9px;
}

.div_informacao-imagem img{
    width: 20px;
}

.informacao {
    margin-left: 10px;
}

.container-simulacao {
    display: flex;
    width: 90%;
    border: 1px solid #00000022;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.simulacao {
    display: flex;
    justify-content: center;
    width: 90%;
}

.habitantes {
    width: 50%;
}

.habitantes-container {
    display: flex;
    align-items: center;
}

.habitantes-imagem {
    display: flex;
    margin-right: 10px;
}

.habitantes-imagem img {
    width: 20px;
}

.habitantes-h4 {
    font-size: 16px;
}

.habitantes-texto {
    display: flex;
    flex-direction: column;
}

.habitantes-texto input {
    width: 90%;
    background-color: #80808025;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.habitantes-texto span {
    color: #808080;
    font-size: 15px;
}

.container-combustivel {
    display: flex;
    align-items: center;
    background-color: #f1fff7;
    border: 1px solid #0aae4334;
    border-radius: 12px;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-imagem {
    background-color: #299042;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-combustivel img {
    width: 25px;
}

.container-combustivel p {
    color: #1d6548;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: -11px;
}

.container-combustivel h3 {
    color: #1d6548;
    display: flex;
}

.container-combustivel span {
    color: #1d6548;
    margin-top: -11px;
    font-size: 13px;
    display: flex;
}

.container-simulacao button {
    background-color: #2a946a;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 95%;
    margin-bottom: 2%;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-simulacao button img {
    width: 20px;
    margin-right: 8px;
}

#div_mensagem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#mensagem_combustivel {
    background-color: #f9fafb;
    width: 30%;
    border-radius: 12px;
    border: 1px solid #c8c8c8d6;
    padding-left: 9px;
    padding-bottom: 0.8%;
    margin-bottom: 1.5%;
}

#mensagem_lixo {
    background-color: #f9fafb;
    width: 30%;
    border-radius: 12px;
    border: 1px solid #c8c8c8d6;
    padding-left: 9px;
    padding-bottom: 0.8%;
    margin-bottom: 1.5%;
}

#mensagem_anual {
    background-color: #f9fafb;
    width: 30%;
    border-radius: 12px;
    border: 1px solid #c8c8c8d6;
    padding-left: 9px;
    padding-bottom: 0.8%;
    margin-bottom: 1.5%;
}

/* =================================================== MISSÃO =================================================== */
#missao {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

#missao .container {
    background: linear-gradient(90deg, #318752, #0aae43);
    border-radius: 1rem;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    color: white;
    padding: 2.5rem;
    text-align: center;
}

#missao .container p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1rem;
}

/* =================================================== PROJETO =================================================== */
#projeto {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding: 2rem 1rem;
}

#projeto .container {
    border: 0.0625rem solid #ddd;
    border-radius: 1rem;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    padding: 2rem;
}

#projeto h2{
    text-align: center;
}

#projeto p{
    text-align: center;
}

/* =================================================== EQUIPE =================================================== */
.equipe {
    background-color: white;
    border: 0.125rem solid #6cd1a75d;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.equipe span {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

/* =================================================== PESSOA =================================================== */
.pessoa {
    background-color: #f1fdf4;
    border: 1px solid #6cd1a75d;
    border-radius: 0.8rem;
    width: 45%;
    min-width: 16rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.pessoa samp {
    margin-left: 1rem;
    color: #18573e;
    font-weight: bold;
}

.pessoa img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}