@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(#015e11,#229735);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* box-shadow: 5px 5px 50px -12px rgba(0,0,0,0.57); */
}

#introducao {
}

.img-logo {
    width: 200px;
    height: 200px;
}

h1 {
color: white;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;

}
.introducao-descricao {

}

.sobre-nos-titulo{

}

.img-planta {
    width: 70px;
}

h2 {

}

.sobre-nos-descricao {
}

#objetivos {

}

#caixa1 {

}

#caixa2 {
    
}

#caixa3 {
    
}

#caixa4 {
    
}

#caixa5 {
    
}

#caixa6 {
    
}

.objetivo {

}

.info {

}

.objetivo-titulo {

}

.objetivo-descricao {

}

#nossa-missao {

}

.nossa-missao-titulo {

}

.nossa-missao-descricao{

}

#projeto {
    display: flex;
    flex-direction: column;
}

.projeto-titulo {

}

.projeto-descricao {

}

#equipe {
    display: flex;
    flex-direction: column;
}

.pessoa {
    display: flex;
    flex-direction: row;
}

.img-perfil {

    width: 70px;
}

.nome {

}